html, body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	height: 100%;
	/*background-color: #fcfcfc;*/
	overflow: hidden;
	font-family: 'Adamina', serif;
	/*font-size: 12pt;*/
	color: #000;
}
#canvas {
	margin: 0px;
	padding: 0px;
	/*pointer-events: none;*/
	display: block;
	position: absolute;
	/*z-index: -1;*/
	background-color: #fcfcfc;
}
